WpfApplication/Service References/evmsService/EvmsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/evmsService.entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/evmsService.entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isEventOrganizer" type="xs:boolean" />
      <xs:element minOccurs="0" name="isLocationAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="isNormalUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="isSystemAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="SysRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleLevel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SysRole" nillable="true" type="tns:SysRole" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventContactList" nillable="true" type="tns:ArrayOfEventContact" />
      <xs:element minOccurs="0" name="GuestList" nillable="true" type="tns:ArrayOfGuest" />
      <xs:element minOccurs="0" name="ItemList" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="ItemTypeList" nillable="true" type="tns:ArrayOfItemType" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:ArrayOfLocation" />
      <xs:element minOccurs="0" name="ManPowerList" nillable="true" type="tns:ArrayOfManPower" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organizer" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="ParticipantList" nillable="true" type="tns:ArrayOfParticipant" />
      <xs:element minOccurs="0" name="ProgramsList" nillable="true" type="tns:ArrayOfProgram" />
      <xs:element minOccurs="0" name="StartDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TaskList" nillable="true" type="tns:ArrayOfTask" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfEventContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventContact" nillable="true" type="tns:EventContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventContact" nillable="true" type="tns:ArrayOfEventContact" />
  <xs:complexType name="EventContact">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EventContact" nillable="true" type="tns:EventContact" />
  <xs:complexType name="ArrayOfGuest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Guest" nillable="true" type="tns:Guest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuest" nillable="true" type="tns:ArrayOfGuest" />
  <xs:complexType name="Guest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Guest" nillable="true" type="tns:Guest" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfItemType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemType" nillable="true" type="tns:ItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemType" nillable="true" type="tns:ArrayOfItemType" />
  <xs:complexType name="ItemType">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ItemType" nillable="true" type="tns:ItemType" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="Location">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfManPower">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManPower" nillable="true" type="tns:ManPower" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManPower" nillable="true" type="tns:ArrayOfManPower" />
  <xs:complexType name="ManPower">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ManPower" nillable="true" type="tns:ManPower" />
  <xs:complexType name="ArrayOfParticipant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Participant" nillable="true" type="tns:Participant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParticipant" nillable="true" type="tns:ArrayOfParticipant" />
  <xs:complexType name="Participant">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Participant" nillable="true" type="tns:Participant" />
  <xs:complexType name="ArrayOfProgram">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Program" nillable="true" type="tns:Program" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgram" nillable="true" type="tns:ArrayOfProgram" />
  <xs:complexType name="Program">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Program" nillable="true" type="tns:Program" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="Task">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
</xs:schema>