GemsClientApp/GemsClientApp/Service References/evmsService/EvmsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EvmsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62709/EvmsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62709/EvmsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/evmsService.Controllers" />
      <xsd:import schemaLocation="http://localhost:62709/EvmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62709/EvmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/evmsService.entities" />
      <xsd:import schemaLocation="http://localhost:62709/EvmsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvmsService_AddRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_AddRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_AddRole_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q1:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_DeleteRole_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q2:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_AddGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGuest" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_AddGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_AddGuest_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q3:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_ViewGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewGuest" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_ViewGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_ViewGuest_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q4:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_EditGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:EditGuest" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_EditGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_EditGuest_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q5:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_DeleteGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGuest" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_DeleteGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_DeleteGuest_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q6:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_removeFacility_InputMessage">
    <wsdl:part name="parameters" element="tns:removeFacility" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_removeFacility_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeFacilityResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_removeFacility_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q7:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_updateFacility_InputMessage">
    <wsdl:part name="parameters" element="tns:updateFacility" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_updateFacility_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateFacilityResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_updateFacility_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q8:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getFacilityAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:getFacilityAdmin" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getFacilityAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFacilityAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getFacilityAdmin_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q9:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getFacilityAdminFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:getFacilityAdminFaculty" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getFacilityAdminFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFacilityAdminFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getFacilityAdminFaculty_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q10:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getFacilityAdmins_InputMessage">
    <wsdl:part name="parameters" element="tns:getFacilityAdmins" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getFacilityAdmins_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFacilityAdminsResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getFacilityAdmins_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q11:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getVenuesByFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:getVenuesByFaculty" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getVenuesByFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVenuesByFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getVenuesByFaculty_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q12:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getVenues_InputMessage">
    <wsdl:part name="parameters" element="tns:getVenues" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getVenues_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVenuesResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getVenues_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q13:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getVenuesByCap_InputMessage">
    <wsdl:part name="parameters" element="tns:getVenuesByCap" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getVenuesByCap_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVenuesByCapResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getVenuesByCap_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q14:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_login_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q15:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_assignLocationAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:assignLocationAdmin" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_assignLocationAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:assignLocationAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_assignLocationAdmin_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q16:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_assignEventOrganizer_InputMessage">
    <wsdl:part name="parameters" element="tns:assignEventOrganizer" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_assignEventOrganizer_OutputMessage">
    <wsdl:part name="parameters" element="tns:assignEventOrganizerResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_assignEventOrganizer_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q17:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_assignSystemAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:assignSystemAdmin" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_assignSystemAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:assignSystemAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_assignSystemAdmin_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q18:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_searchUser_InputMessage">
    <wsdl:part name="parameters" element="tns:searchUser" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_searchUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_searchUser_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q19:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_searchUserByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:searchUserByRole" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_searchUserByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchUserByRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_searchUserByRole_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q20:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_viewUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:viewUserRole" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_viewUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:viewUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_viewUserRole_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q21:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_unAssignRole_InputMessage">
    <wsdl:part name="parameters" element="tns:unAssignRole" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_unAssignRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:unAssignRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_unAssignRole_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q22:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getNewMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:getNewMessage" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getNewMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNewMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getNewMessage_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q23:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getUnreadMessageCount_InputMessage">
    <wsdl:part name="parameters" element="tns:getUnreadMessageCount" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getUnreadMessageCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUnreadMessageCountResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getUnreadMessageCount_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q24:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getUnreadMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:getUnreadMessages" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getUnreadMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUnreadMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getUnreadMessages_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q25:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getAllMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllMessages" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getAllMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_getAllMessages_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q26:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_deleteNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteNotifications" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_deleteNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_deleteNotifications_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q27:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_deleteAllNotificationsOfUser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAllNotificationsOfUser" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_deleteAllNotificationsOfUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteAllNotificationsOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_deleteAllNotificationsOfUser_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q28="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q28:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_setNotificationRead_InputMessage">
    <wsdl:part name="parameters" element="tns:setNotificationRead" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_setNotificationRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:setNotificationReadResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_setNotificationRead_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q29="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q29:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_sendNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:sendNotification" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_sendNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_sendNotification_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q30:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_CreateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEvent" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_CreateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_CreateEvent_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q31="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q31:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_ViewEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewEvent" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_ViewEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_ViewEvent_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q32="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q32:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_EditEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEvent" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_EditEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_EditEvent_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q33="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q33:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_DeleteEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvent" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_DeleteEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_DeleteEvent_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q34="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q34:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_viewEventsbyDate_InputMessage">
    <wsdl:part name="parameters" element="tns:viewEventsbyDate" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_viewEventsbyDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:viewEventsbyDateResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_viewEventsbyDate_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q35="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q35:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_AddProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProgram" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_AddProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_AddProgram_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q36="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q36:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_ViewProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewProgram" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_ViewProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_ViewProgram_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q37="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q37:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_EditProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProgram" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_EditProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_EditProgram_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q38="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q38:SException" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_DeleteProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgram" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_DeleteProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IEvmsService_DeleteProgram_SExceptionFault_FaultMessage">
    <wsdl:part xmlns:q39="http://schemas.datacontract.org/2004/07/evmsService.Controllers" name="detail" element="q39:SException" />
  </wsdl:message>
  <wsdl:portType name="IEvmsService">
    <wsdl:operation name="AddRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/AddRole" message="tns:IEvmsService_AddRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/AddRoleResponse" message="tns:IEvmsService_AddRole_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/AddRoleSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_AddRole_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/DeleteRole" message="tns:IEvmsService_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/DeleteRoleResponse" message="tns:IEvmsService_DeleteRole_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/DeleteRoleSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_DeleteRole_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/AddGuest" message="tns:IEvmsService_AddGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/AddGuestResponse" message="tns:IEvmsService_AddGuest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/AddGuestSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_AddGuest_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/ViewGuest" message="tns:IEvmsService_ViewGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/ViewGuestResponse" message="tns:IEvmsService_ViewGuest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/ViewGuestSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_ViewGuest_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/EditGuest" message="tns:IEvmsService_EditGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/EditGuestResponse" message="tns:IEvmsService_EditGuest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/EditGuestSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_EditGuest_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/DeleteGuest" message="tns:IEvmsService_DeleteGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/DeleteGuestResponse" message="tns:IEvmsService_DeleteGuest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/DeleteGuestSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_DeleteGuest_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeFacility">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/removeFacility" message="tns:IEvmsService_removeFacility_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/removeFacilityResponse" message="tns:IEvmsService_removeFacility_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/removeFacilitySExceptionFault" name="SExceptionFault" message="tns:IEvmsService_removeFacility_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateFacility">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/updateFacility" message="tns:IEvmsService_updateFacility_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/updateFacilityResponse" message="tns:IEvmsService_updateFacility_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/updateFacilitySExceptionFault" name="SExceptionFault" message="tns:IEvmsService_updateFacility_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFacilityAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/getFacilityAdmin" message="tns:IEvmsService_getFacilityAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/getFacilityAdminResponse" message="tns:IEvmsService_getFacilityAdmin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/getFacilityAdminSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_getFacilityAdmin_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFacilityAdminFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/getFacilityAdminFaculty" message="tns:IEvmsService_getFacilityAdminFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/getFacilityAdminFacultyResponse" message="tns:IEvmsService_getFacilityAdminFaculty_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/getFacilityAdminFacultySExceptionFault" name="SExceptionFault" message="tns:IEvmsService_getFacilityAdminFaculty_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFacilityAdmins">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/getFacilityAdmins" message="tns:IEvmsService_getFacilityAdmins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/getFacilityAdminsResponse" message="tns:IEvmsService_getFacilityAdmins_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/getFacilityAdminsSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_getFacilityAdmins_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVenuesByFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/getVenuesByFaculty" message="tns:IEvmsService_getVenuesByFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/getVenuesByFacultyResponse" message="tns:IEvmsService_getVenuesByFaculty_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/getVenuesByFacultySExceptionFault" name="SExceptionFault" message="tns:IEvmsService_getVenuesByFaculty_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVenues">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/getVenues" message="tns:IEvmsService_getVenues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/getVenuesResponse" message="tns:IEvmsService_getVenues_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/getVenuesSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_getVenues_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVenuesByCap">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/getVenuesByCap" message="tns:IEvmsService_getVenuesByCap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/getVenuesByCapResponse" message="tns:IEvmsService_getVenuesByCap_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/getVenuesByCapSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_getVenuesByCap_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/login" message="tns:IEvmsService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/loginResponse" message="tns:IEvmsService_login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/loginSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_login_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="assignLocationAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/assignLocationAdmin" message="tns:IEvmsService_assignLocationAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/assignLocationAdminResponse" message="tns:IEvmsService_assignLocationAdmin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/assignLocationAdminSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_assignLocationAdmin_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="assignEventOrganizer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/assignEventOrganizer" message="tns:IEvmsService_assignEventOrganizer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/assignEventOrganizerResponse" message="tns:IEvmsService_assignEventOrganizer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/assignEventOrganizerSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_assignEventOrganizer_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="assignSystemAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/assignSystemAdmin" message="tns:IEvmsService_assignSystemAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/assignSystemAdminResponse" message="tns:IEvmsService_assignSystemAdmin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/assignSystemAdminSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_assignSystemAdmin_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/searchUser" message="tns:IEvmsService_searchUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/searchUserResponse" message="tns:IEvmsService_searchUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/searchUserSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_searchUser_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchUserByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/searchUserByRole" message="tns:IEvmsService_searchUserByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/searchUserByRoleResponse" message="tns:IEvmsService_searchUserByRole_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/searchUserByRoleSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_searchUserByRole_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="viewUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/viewUserRole" message="tns:IEvmsService_viewUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/viewUserRoleResponse" message="tns:IEvmsService_viewUserRole_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/viewUserRoleSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_viewUserRole_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="unAssignRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/unAssignRole" message="tns:IEvmsService_unAssignRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/unAssignRoleResponse" message="tns:IEvmsService_unAssignRole_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/unAssignRoleSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_unAssignRole_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNewMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/getNewMessage" message="tns:IEvmsService_getNewMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/getNewMessageResponse" message="tns:IEvmsService_getNewMessage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/getNewMessageSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_getNewMessage_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessageCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/getUnreadMessageCount" message="tns:IEvmsService_getUnreadMessageCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/getUnreadMessageCountResponse" message="tns:IEvmsService_getUnreadMessageCount_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/getUnreadMessageCountSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_getUnreadMessageCount_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/getUnreadMessages" message="tns:IEvmsService_getUnreadMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/getUnreadMessagesResponse" message="tns:IEvmsService_getUnreadMessages_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/getUnreadMessagesSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_getUnreadMessages_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/getAllMessages" message="tns:IEvmsService_getAllMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/getAllMessagesResponse" message="tns:IEvmsService_getAllMessages_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/getAllMessagesSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_getAllMessages_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/deleteNotifications" message="tns:IEvmsService_deleteNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/deleteNotificationsResponse" message="tns:IEvmsService_deleteNotifications_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/deleteNotificationsSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_deleteNotifications_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteAllNotificationsOfUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/deleteAllNotificationsOfUser" message="tns:IEvmsService_deleteAllNotificationsOfUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/deleteAllNotificationsOfUserResponse" message="tns:IEvmsService_deleteAllNotificationsOfUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/deleteAllNotificationsOfUserSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_deleteAllNotificationsOfUser_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="setNotificationRead">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/setNotificationRead" message="tns:IEvmsService_setNotificationRead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/setNotificationReadResponse" message="tns:IEvmsService_setNotificationRead_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/setNotificationReadSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_setNotificationRead_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/sendNotification" message="tns:IEvmsService_sendNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/sendNotificationResponse" message="tns:IEvmsService_sendNotification_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/sendNotificationSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_sendNotification_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/CreateEvent" message="tns:IEvmsService_CreateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/CreateEventResponse" message="tns:IEvmsService_CreateEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/CreateEventSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_CreateEvent_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/ViewEvent" message="tns:IEvmsService_ViewEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/ViewEventResponse" message="tns:IEvmsService_ViewEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/ViewEventSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_ViewEvent_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/EditEvent" message="tns:IEvmsService_EditEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/EditEventResponse" message="tns:IEvmsService_EditEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/EditEventSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_EditEvent_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/DeleteEvent" message="tns:IEvmsService_DeleteEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/DeleteEventResponse" message="tns:IEvmsService_DeleteEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/DeleteEventSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_DeleteEvent_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="viewEventsbyDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/viewEventsbyDate" message="tns:IEvmsService_viewEventsbyDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/viewEventsbyDateResponse" message="tns:IEvmsService_viewEventsbyDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/viewEventsbyDateSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_viewEventsbyDate_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/AddProgram" message="tns:IEvmsService_AddProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/AddProgramResponse" message="tns:IEvmsService_AddProgram_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/AddProgramSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_AddProgram_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/ViewProgram" message="tns:IEvmsService_ViewProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/ViewProgramResponse" message="tns:IEvmsService_ViewProgram_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/ViewProgramSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_ViewProgram_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/EditProgram" message="tns:IEvmsService_EditProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/EditProgramResponse" message="tns:IEvmsService_EditProgram_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/EditProgramSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_EditProgram_SExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvmsService/DeleteProgram" message="tns:IEvmsService_DeleteProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvmsService/DeleteProgramResponse" message="tns:IEvmsService_DeleteProgram_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvmsService/DeleteProgramSExceptionFault" name="SExceptionFault" message="tns:IEvmsService_DeleteProgram_SExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEvmsService" type="tns:IEvmsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRole">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/AddRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddGuest">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/AddGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ViewGuest">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/ViewGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditGuest">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/EditGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteGuest">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/DeleteGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeFacility">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/removeFacility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateFacility">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/updateFacility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFacilityAdmin">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/getFacilityAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFacilityAdminFaculty">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/getFacilityAdminFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFacilityAdmins">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/getFacilityAdmins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVenuesByFaculty">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/getVenuesByFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVenues">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/getVenues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVenuesByCap">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/getVenuesByCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignLocationAdmin">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/assignLocationAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignEventOrganizer">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/assignEventOrganizer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="assignSystemAdmin">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/assignSystemAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchUser">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/searchUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchUserByRole">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/searchUserByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="viewUserRole">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/viewUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="unAssignRole">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/unAssignRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNewMessage">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/getNewMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessageCount">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/getUnreadMessageCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUnreadMessages">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/getUnreadMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllMessages">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/getAllMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteNotifications">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/deleteNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAllNotificationsOfUser">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/deleteAllNotificationsOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setNotificationRead">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/setNotificationRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendNotification">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/sendNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/CreateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ViewEvent">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/ViewEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditEvent">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/EditEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/DeleteEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="viewEventsbyDate">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/viewEventsbyDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddProgram">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/AddProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ViewProgram">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/ViewProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditProgram">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/EditProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteProgram">
      <soap:operation soapAction="http://tempuri.org/IEvmsService/DeleteProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SExceptionFault">
        <soap:fault use="literal" name="SExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EvmsService">
    <wsdl:port name="BasicHttpBinding_IEvmsService" binding="tns:BasicHttpBinding_IEvmsService">
      <soap:address location="http://localhost:62709/EvmsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>